.head__background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #324862;
  position: relative;
}

.head__background > video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.1;
}

.head {
  padding-top: 60px;
  padding-bottom: 128px;
  color: #FFF8E8;
}
@media (max-width: 1140px) {
  .head {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .head {
    padding-bottom: 15px;
    padding-top: 20px;
  }
}

.head__number-container {
  display: flex;
  justify-content: space-between;
  font-family: "montserrat";
  margin-bottom: 70px;
}
@media (max-width: 1140px) {
  .head__number-container {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .head__number-container {
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.head__geolocation {
  text-align: left;
  font-size: 23px;
}
.head__geolocation :first-child {
  padding-left: 5px;
}
@media (max-width: 1140px) {
  .head__geolocation {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .head__geolocation {
    text-align: center;
    font-size: 13px;
  }
}

.head__number {
  text-align: right;
  font-size: 35px;
}
@media (max-width: 1140px) {
  .head__number {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .head__number {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.head__header-container {
  text-align: left;
  font-family: "bebas";
  font-size: 65px;
  margin-bottom: 55px;
}
@media (max-width: 1140px) {
  .head__header-container {
    margin-bottom: 30px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .head__header-container {
    margin-bottom: 25px;
  }
}
.head__header-container > p {
  margin-bottom: 50px;
}
@media (max-width: 1140px) {
  .head__header-container > p {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .head__header-container > p {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.head__header-container :nth-child(3) {
  margin-bottom: 25px;
}
@media (max-width: 1140px) {
  .head__header-container :nth-child(3) {
    margin-bottom: 25px;
  }
}

.head__price {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .head__price {
    flex-direction: column;
    align-items: flex-start;
  }
}

.head__font {
  font-family: "acrobat";
  font-size: 50px;
  margin-left: 20px;
}
@media (max-width: 1140px) {
  .head__font {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .head__font {
    font-size: 25px;
    margin-left: 0;
  }
}

.head__button-container {
  display: flex;
  justify-content: space-between;
}
.head__button-container > :last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .head__button-container {
    flex-direction: column;
  }
}

.head__button {
  font-family: "acrobat";
  font-size: 40px;
  text-decoration: none;
  color: #FFF8E8;
  border: 1px solid #FFF8E8;
  border-radius: 50px;
  width: 45%;
  text-align: center;
  padding: 30px 0 30px 0;
  margin: 0;
}
@media (max-width: 1140px) {
  .head__button {
    font-size: 30px;
    padding: 22px 0 22px 0;
  }
}
@media (max-width: 767px) {
  .head__button {
    font-size: 25px;
    padding: 15px 0 15px 0;
    width: 100%;
    margin-bottom: 20px;
  }
}

.galerey__wrapper {
  max-width: 945px;
  margin: 0 auto;
  padding-top: 65px;
}
@media (max-width: 1140px) {
  .galerey__wrapper {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .galerey__wrapper {
    padding-top: 30px;
  }
}
.galerey__wrapper h2 {
  text-align: center;
  font-family: "bebas";
  font-size: 80px;
  color: #324862;
  margin-bottom: 20px;
}
@media (max-width: 1140px) {
  .galerey__wrapper h2 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .galerey__wrapper h2 {
    font-size: 30px;
    margin-bottom: 8px;
  }
}
.galerey__wrapper img {
  margin-bottom: 20px;
  max-width: 100%;
}
@media (max-width: 1140px) {
  .galerey__wrapper img {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .galerey__wrapper img {
    margin-bottom: 8px;
  }
}

.about-place {
  padding-bottom: 70px;
}
@media (max-width: 1140px) {
  .about-place {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .about-place {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.about-place h4 {
  font-size: 55px;
  font-family: "bebas";
  color: #324862;
}
@media (max-width: 1140px) {
  .about-place h4 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .about-place h4 {
    font-size: 25px;
  }
}
.about-place > :nth-child(3) {
  margin-bottom: 60px;
}
@media (max-width: 1140px) {
  .about-place > :nth-child(3) {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .about-place > :nth-child(3) {
    margin-bottom: 25px;
  }
}
.about-place > :nth-child(4) {
  margin-bottom: 60px;
}
@media (max-width: 1140px) {
  .about-place > :nth-child(4) {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .about-place > :nth-child(4) {
    margin-bottom: 25px;
  }
}

.about-place__headline > h2 {
  text-align: center;
  font-family: "bebas";
  font-size: 80px;
  color: #324862;
  margin-bottom: 50px;
}
@media (max-width: 1140px) {
  .about-place__headline > h2 {
    font-size: 60px;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .about-place__headline > h2 {
    margin-bottom: 5px;
    font-size: 30px;
  }
}

.about-place__container {
  margin-bottom: 100px;
}
@media (max-width: 1140px) {
  .about-place__container {
    margin-bottom: 50px;
  }
}
@media (max-width: 1140px) {
  .about-place__container {
    margin-bottom: 25px;
  }
}
.about-place__container > :first-child {
  margin-bottom: 90px;
}
@media (max-width: 1140px) {
  .about-place__container > :first-child {
    margin-bottom: 25px;
  }
}

.about-place__container-content {
  display: flex;
  color: #324862;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .about-place__container-content {
    flex-wrap: wrap;
  }
}

.about-place__content {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .about-place__content {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .about-place__content {
    width: 100%;
  }
}
.about-place__content :first-child {
  font-family: "bebas";
  font-size: 55px;
  padding-bottom: 55px;
}
@media (max-width: 1140px) {
  .about-place__content :first-child {
    font-size: 40px;
    padding-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .about-place__content :first-child {
    padding-bottom: 0;
    font-size: 25px;
  }
}
.about-place__content p {
  font-family: "acrobat";
  font-size: 35px;
}
@media (max-width: 1140px) {
  .about-place__content p {
    font-size: 23px;
  }
}

.about-place__special :nth-child(1) {
  margin-bottom: 30px;
}
@media (max-width: 1140px) {
  .about-place__special :nth-child(1) {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .about-place__special :nth-child(1) {
    margin-bottom: 10px;
  }
}
.about-place__special :nth-child(2) {
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .about-place__special :nth-child(2) {
    margin-bottom: 20px;
  }
}
.about-place__special :nth-child(3) {
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .about-place__special :nth-child(3) {
    margin-bottom: 20px;
  }
}

.font-acro {
  font-family: "akrobat";
  font-size: 50px;
  color: #324862;
}
@media (max-width: 1140px) {
  .font-acro {
    font-size: 23px;
  }
}

.about-place__communication :nth-child(1) {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .about-place__communication :nth-child(1) {
    margin-bottom: 10px;
  }
}
.about-place__communication :nth-child(2) {
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .about-place__communication :nth-child(2) {
    margin-bottom: 20px;
  }
}
.about-place__communication :nth-child(3) {
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .about-place__communication :nth-child(3) {
    margin-bottom: 20px;
  }
}

.test {
  justify-content: flex-start;
}

.infra__wrapper {
  max-width: 945px;
  margin: 0 auto;
  padding-bottom: 70px;
}
@media (max-width: 1140px) {
  .infra__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .infra__wrapper {
    padding-bottom: 20px;
  }
}

.infra__headline > h4 {
  font-family: "bebas";
  font-size: 80px;
  text-align: center;
  color: #324862;
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .infra__headline > h4 {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .infra__headline > h4 {
    margin-bottom: 5px;
    font-size: 30px;
  }
}

.infra-blocks {
  margin-bottom: 70px;
}
@media (max-width: 1140px) {
  .infra-blocks {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .infra-blocks {
    margin-bottom: 25px;
  }
}
.infra-blocks img {
  max-width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 1140px) {
  .infra-blocks img {
    margin-bottom: 10px;
  }
}
.infra-blocks p {
  color: #324862;
  text-align: center;
  font-family: "acrobat";
  font-size: 50px;
}
@media (max-width: 1140px) {
  .infra-blocks p {
    font-size: 23px;
  }
}
@media (max-width: 767px) {
  .infra-blocks p {
    font-size: 20px;
  }
}
.infra-blocks p span {
  font-size: 70px;
  font-family: "bebas";
}
@media (max-width: 1140px) {
  .infra-blocks p span {
    font-size: 30px;
  }
}

.video-content__wrapper {
  max-width: 945px;
  margin: 0 auto;
  margin-bottom: 95px;
}
.video-content__wrapper :last-child {
  margin-bottom: 0;
}
@media (max-width: 1140px) {
  .video-content__wrapper {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .video-content__wrapper {
    margin-bottom: 40px;
  }
}

.video-content__container {
  text-align: center;
  margin-bottom: 85px;
}
@media (max-width: 767px) {
  .video-content__container {
    margin-bottom: 15px;
  }
}
.video-content__container > h4 {
  text-align: center;
  font-family: "bebas";
  font-size: 80px;
  color: #324862;
  margin-bottom: 25px;
}
@media (max-width: 1140px) {
  .video-content__container > h4 {
    font-size: 60px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .video-content__container > h4 {
    font-size: 30px;
    margin-bottom: 10px;
    width: 75%;
    margin: 0 auto;
  }
}
.video-content__container video {
  max-width: 100%;
}

.movie-sity {
  border-radius: 30px;
  max-width: 850px;
}

.list {
  color: #324862;
  position: relative;
  margin-bottom: 50px;
}
@media (max-width: 1140px) {
  .list {
    margin-bottom: 15px;
  }
}
.list > h4 {
  text-align: center;
  font-family: "bebas";
  font-size: 80px;
  margin-bottom: 50px;
}
@media (max-width: 1140px) {
  .list > h4 {
    font-size: 60px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .list > h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.list__info {
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 1140px) {
  .list__info {
    margin-bottom: 30px;
  }
}
.list__info p {
  font-family: "acrobat";
  font-size: 40px;
}
@media (max-width: 1140px) {
  .list__info p {
    font-size: 23px;
  }
}
.list__info :first-child {
  margin-bottom: 35px;
}
@media (max-width: 1140px) {
  .list__info :first-child {
    margin-bottom: 20px;
  }
}

.list__step1-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}
@media (max-width: 1140px) {
  .list__step1-container {
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .list__step1-container {
    margin-bottom: 15px;
  }
}
.list__step1-container :first-child {
  font-family: "bebas";
  font-size: 40px;
  border: 2px solid #324862;
  border-radius: 50%;
  padding: 20px 30px;
  background-color: #FFFBF5;
  margin-right: 10px;
}
@media (max-width: 1140px) {
  .list__step1-container :first-child {
    font-size: 30px;
    padding: 10px 20px;
  }
}
@media (max-width: 767px) {
  .list__step1-container :first-child {
    display: none;
  }
}
.list__step1-container :last-child {
  font-family: "acrobat";
  font-size: 40px;
}
@media (max-width: 1140px) {
  .list__step1-container :last-child {
    font-size: 23px;
  }
}

.line {
  display: block;
  position: absolute;
  border-left: 3px dashed #324862;
  height: 1250px;
  top: 25%;
  left: 3.5%;
  z-index: -1;
}
@media (max-width: 1140px) {
  .line {
    left: 5.3%;
    height: 73%;
    top: 23%;
  }
}
@media (max-width: 767px) {
  .line {
    display: none;
  }
}

.stock_background {
  background-image: url("../img/jpg/Component 1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  padding-bottom: 35px;
  padding-top: 25px;
}
@media (max-width: 1140px) {
  .stock_background {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.stock__wrapper {
  color: white;
  font-family: "acrobat";
  font-size: 55px;
}
@media (max-width: 1140px) {
  .stock__wrapper {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .stock__wrapper {
    font-size: 23px;
    text-align: center;
  }
}
.stock__wrapper > :nth-child(1) {
  font-family: "bebas";
  font-size: 90px;
  margin-bottom: 35px;
}
@media (max-width: 1140px) {
  .stock__wrapper > :nth-child(1) {
    font-size: 50px;
    margin-bottom: 25px;
  }
}
.stock__wrapper > :nth-child(2) {
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .stock__wrapper > :nth-child(2) {
    margin-bottom: 15px;
  }
}
.stock__wrapper > :nth-child(3) {
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .stock__wrapper > :nth-child(3) {
    margin-bottom: 15px;
  }
}
.stock__wrapper :nth-child(5) {
  font-family: "bebas";
  font-size: 120px;
}
@media (max-width: 1140px) {
  .stock__wrapper :nth-child(5) {
    font-size: 70px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .stock__wrapper :nth-child(5) {
    font-size: 50px;
  }
}
.stock__wrapper :last-child {
  font-size: 50px;
}
@media (max-width: 1140px) {
  .stock__wrapper :last-child {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .stock__wrapper :last-child {
    font-size: 23px;
  }
}

.list__timer-text {
  display: flex;
}
@media (max-width: 767px) {
  .list__timer-text {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
  }
}
.list__timer-text :first-child {
  margin-right: 10px;
  align-self: center;
}
@media (max-width: 767px) {
  .list__timer-text :first-child {
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
  }
}
.list__timer-text :last-child {
  font-family: "bebas";
  font-size: 120px;
}
@media (max-width: 1140px) {
  .list__timer-text :last-child {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .list__timer-text :last-child {
    font-size: 50px;
  }
}

.comments {
  font-family: "acrobat";
  font-size: 49px;
  color: #324862;
  padding-bottom: 70px;
  padding-top: 70px;
}
@media (max-width: 1140px) {
  .comments {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .comments {
    font-size: 23px;
  }
}

.comments__align {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .comments__align {
    flex-wrap: wrap;
  }
}

.comments__container {
  text-align: center;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .comments__container {
    width: 100%;
    margin-bottom: 50px;
  }
}
.comments__container > img {
  max-width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 1140px) {
  .comments__container > img {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .comments__container > img {
    margin-bottom: 10px;
  }
}

.align-names {
  margin-bottom: 40px;
}
@media (max-width: 1140px) {
  .align-names {
    margin-bottom: 15px;
  }
}

.footer {
  margin-bottom: 25px;
}
.footer h4 {
  font-size: 80px;
  font-family: "bebas";
  text-align: center;
  color: #324862;
  margin-bottom: 35px;
}
@media (max-width: 1140px) {
  .footer h4 {
    font-size: 60px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .footer h4 {
    font-size: 30px;
    margin-bottom: 5px;
  }
}

.footer__info-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__info-container {
    flex-wrap: wrap-reverse;
  }
}

.footer__gps-container {
  width: 30%;
  font-size: 39px;
  font-family: "acrobat";
  color: #324862;
}
@media (max-width: 1140px) {
  .footer__gps-container {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .footer__gps-container {
    font-size: 29px;
    width: 100%;
    text-align: center;
  }
}
.footer__gps-container :nth-child(4) {
  margin-bottom: 60px;
}
@media (max-width: 1140px) {
  .footer__gps-container :nth-child(4) {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .footer__gps-container :nth-child(4) {
    margin-bottom: 30px;
  }
}

.footer__map {
  width: 68%;
}
.footer__map img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .footer__map {
    width: 100%;
    margin-bottom: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "bebas";
  src: url("../fonts/BebasNeue Bold.ttf");
}
@font-face {
  font-family: "acrobat";
  src: url("../fonts/ofont.ru_Akrobat.ttf");
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
@media (max-width: 1140px) {
  .wrapper {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.marginNull {
  margin-bottom: 0;
}